<CONFIG><BORKER><TYPE>redis</TYPE><HOST>127.0.0.1</HOST><PORT>6379</PORT><USER></USER><PASS>redispasswd</PASS><DB>0</DB></BORKER><BACKEND><TYPE>redis</TYPE><HOST>127.0.0.1</HOST><PORT>6379</PORT><USER></USER><PASS>redispasswd</PASS><DB>0</DB></BACKEND><ES><HOST>127.0.0.1</HOST><PORT>9200</PORT><USER>root</USER><PASS>root</PASS></ES></CONFIG>