<CONFIG><BORKER><TYPE>redis</TYPE><HOST>demo.com</HOST><PORT>6379</PORT><USER/><PASS>redispassword</PASS><DB>0</DB></BORKER><BACKEND><TYPE>redis</TYPE><HOST>demo.com</HOST><PORT>6379</PORT><USER/><PASS>redispassword</PASS><DB>0</DB></BACKEND><ES><HOST>127.0.0.1</HOST><PORT>9200</PORT><USER/><PASS/></ES></CONFIG>