<CONFIG><BORKER><TYPE>amqp</TYPE><HOST>192.168.1.11</HOST><PORT>5672</PORT><USER>amqp</USER><PASS>amqp</PASS><DB>vhost</DB></BORKER><BACKEND><TYPE>amqp</TYPE><HOST>192.168.1.11</HOST><PORT>5672</PORT><USER>amqp</USER><PASS>amqp</PASS><DB>vhost</DB></BACKEND><ES><HOST>127.0.0.1</HOST><PORT>9200</PORT><USER>root</USER><PASS>root</PASS></ES></CONFIG>